.contenedor-contenido {
    padding: 20px; /* Agrega espacio en blanco alrededor del contenido */
}

.BOTON:hover{
    background-color: #FF585D;
    border-radius: 2px;
    transform: scale(1.1); /* Escala del 110% (efecto de zoom) */

}

/* Estilo para el enlace */
.BOTON {
    display: inline-block;
    transition: transform 0.3s ease; /* Transición suave para el efecto de zoom */
}

/* Estilo para la tabla */
.TableCustom table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Encabezados de columna */
.TableCustom th {
    background-color: rgba(0, 124, 186, 0.850);
    color: #ffffff;
    font-weight: bold;
    /* font-size: 22px; */
    text-align: left;
    border-radius: 3px;
    /* padding: 10px; */
}

.error {
    border: 2px solid red;
}

/* Filas pares
 tr:nth-child(even) {
    background-color: rgba(0, 124, 186, 0.850);
}

/* Filas impares */
 /* tr:nth-child(odd) {
    background-color: rgba(0, 124, 186, 0.850); */
/* } */

/* Celdas de datos */
 td {
    /* padding: 8px; */
    text-align: left; 
    /* font-size: 22px; */
}

/* Estilo para el hover de las filas */
/* tr:hover {
    background-color: #69b8ed;
    color: #ffffff;
    transition: background-color 0.3s;
} */

/* Estilo para la clase activa (puedes agregar esta clase a la fila seleccionada) */
/* tr.active {
    background-color: #ff6b6b;
    color: #ffffff;
} */

/* Agrega un borde alrededor de la tabla */
/* table-bordered {
    border: 1px solid #3498db;
}  */

ol {
    background-color: rgb(164, 214, 94) !important;
    padding: 10px !important;
    border-radius: 10px !important;
}

.nav-item {
    margin-left: 5px;
}



    .nombre-column {
    width: 20%; 
}


td.descripcion-column {
    max-width: 300px;
    word-wrap: break-word; 
    text-align: justify;
    font-size: 12px; 
}


.dropdown-menu .dropdown-item {
    font-size: 17px; 
    padding: 5px 10px; 
}
.dropdown-menu hr {
    margin: 5px 0;
}


input[type="checkbox"] {
    width: 15px;  
    height: 15px; 
    transform: scale(1.5); 
    margin: 5px; 
}


input[type="radio"]:checked {
    background-color: black;
    border-color: black;
}

input[type="radio"]:checked::before {
    background-color: black;
}

.radio-container {
    background-color: #E2EFDA;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

/* Opcional: si deseas cambiar el estilo de los radio buttons cuando están deshabilitados */
.form-check-input:disabled {
    background-color: #d1d1d1;
}


.btn-custom:hover{
    /* box-shadow: 1px 1px 1px 1px rgba(32, 32, 32, 0.3)!important; */
    transform: scale(1.1);
-webkit-box-shadow: -4px 14px 32px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 14px 32px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 14px 32px -5px rgba(0, 0, 0, 0.75);
}



/* Estilo para el enlace */
.btn-custom {
    display: inline-block;
    transition: transform 0.3s ease;
    
}


body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #007DBA; */
}



.nav-link {
    font-size: 12px;
    padding: 4px 9px;
}



.total-porcentaje-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: red; 
}



.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}





table.dataTable {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden; 
}

table.dataTable thead th:first-child {
    border-top-left-radius: 15px;
}

table.dataTable thead th:last-child {
    border-top-right-radius: 15px;
}

table.dataTable tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

table.dataTable tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

table.dataTable thead th {
    vertical-align: middle;
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border-bottom: 2px solid #ddd;
}



.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}


.custom-header {
    background-color: rgb(188, 219, 143) !important;
    color: white; /* Color del texto, si lo deseas */
}
