.contenedor-contenido {
    padding: 20px; /* Agrega espacio en blanco alrededor del contenido */
}

.BOTON:hover{
    background-color: #FF585D;
    border-radius: 2px;
    transform: scale(1.1); /* Escala del 110% (efecto de zoom) */

}

/* Estilo para el enlace */
.BOTON {
    display: inline-block;
    transition: transform 0.3s ease; /* Transición suave para el efecto de zoom */
}

/* Estilo para la tabla */
.TableCustom table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #3498db;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Encabezados de columna */
.TableCustom th {
    background-color: rgba(0, 124, 186, 0.850);
    color: #ffffff;
    font-weight: bold;
    /* font-size: 22px; */
    text-align: left;
    border-radius: 3px;
    /* padding: 10px; */
}

/* Filas pares
 tr:nth-child(even) {
    background-color: rgba(0, 124, 186, 0.850);
}

/* Filas impares */
 /* tr:nth-child(odd) {
    background-color: rgba(0, 124, 186, 0.850); */
/* } */

/* Celdas de datos */
 td {
    /* padding: 8px; */
    text-align: left; 
    /* font-size: 22px; */
}

/* Estilo para el hover de las filas */
/* tr:hover {
    background-color: #69b8ed;
    color: #ffffff;
    transition: background-color 0.3s;
} */

/* Estilo para la clase activa (puedes agregar esta clase a la fila seleccionada) */
/* tr.active {
    background-color: #ff6b6b;
    color: #ffffff;
} */

/* Agrega un borde alrededor de la tabla */
/* table-bordered {
    border: 1px solid #3498db;
}  */

ol {
    background-color: rgb(164, 214, 94) !important;
    padding: 10px !important;
    border-radius: 10px !important;
}

.nav-item {
    margin-left: 5px;
}

.nav-link {
    font-size: 14px; 
    padding: 4px 9px; }



    .nombre-column {
    width: 20%; 
}


td.descripcion-column {
    max-width: 300px;
    word-wrap: break-word; 
    text-align: justify;
    font-size: 12px; 
}


.dropdown-menu .dropdown-item {
    font-size: 17px; 
    padding: 5px 10px; 
}
.dropdown-menu hr {
    margin: 5px 0;
}


input[type="checkbox"] {
    width: 15px;  
    height: 15px; 
    transform: scale(1.5); 
    margin: 5px; 
}


input[type="radio"]:checked {
    background-color: black;
    border-color: black;
}

input[type="radio"]:checked::before {
    background-color: black;
}

.radio-container {
    background-color: #E2EFDA;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

/* Opcional: si deseas cambiar el estilo de los radio buttons cuando están deshabilitados */
.form-check-input:disabled {
    background-color: #d1d1d1;
}

