
        #organigrama-container {
            width: 80%;
            height: 600px;
            border: 2px solid #ccc;
            position: relative;
        }
        #toolbar {
            margin-bottom: 10px;
        }
        #toolbar input,
        #toolbar select,
        #toolbar button {
            margin-right: 10px;
        }
        .node {
            border-radius: 10px;
            position: relative;
            display: inline-block;
            margin: 10px;
        }
        .delete-button {
            cursor: pointer;
            fill: red;
            font-size: 18px;
            position: absolute;
            top: -10px;
            right: -10px;
            z-index: 1;
        }
        .context-menu {
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 5px;
        }
        .context-menu-item {
            cursor: pointer;
            padding: 5px;
            margin: 3px;
        }
